/* Apply a consistent background color */
.root {
    -fx-background-color: #f5f5f5;
}

/* Style for the VBox */
.vbox {
    -fx-padding: 20;
    -fx-alignment: center;
}

/* Style for the Buttons */
.button {
    -fx-background-color: #E79A3F;
        -fx-text-fill: white;
        -fx-pref-height: 30;
        -fx-pref-width: 350;
        -fx-font-size: 1.2em;
}

.button:hover {
    -fx-background-color: #45a049;
}

.button:pressed {
    -fx-background-color: #3e8e41;
}

/* Style for the ScrollPane */
.scroll-pane {
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-padding: 10;
}

.scroll-pane .viewport {
    -fx-background-color: #fff;
}

/* Style for the ImageView inside TilePane */
.tile-pane .image-view {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0.5, 0, 0);
    -fx-padding: 5;
}
